.crm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c6c2de;;
}


.crm__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.crm__text {
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.crm__span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6D5BD0;
}