.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f4f2ff;
    padding: 15px 20px;
    text-transform: none;
}

.footer__page {
    display: flex;
}

.footer__show {
    margin-right: 5px;
}

.footer__page-btn {
    align-self: center;
    width: 8px;
    height: 5px;
    background-image: url('../../image/polygon.svg');
    background-color: transparent;
    margin-right: 63px;
    background-repeat: no-repeat;
    background-position: center center;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.footer__interval, .arrow_left {
    margin-right: 50px;
}

.arrow {
    width: 6px;
    height: 10px;
    background-color: transparent;
    margin-left: 50px;
}

.arrow__left {
    background-image: url('../../image/left.svg');
}

.arrow__right {
    background-image: url('../../image/left.svg');
    transform: rotate(180deg);
}