.crm-inner {
    min-width: 700px;
    background-color: #ffffff;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    border-radius: 8px;
    overflow: auto;
}

@media (max-width: 770px) {
    .crm-inner {
    padding: 0 10px;
    }
}
