.form {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.form__fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto) 60px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    width: 100%;
    gap: 12px 24px;
    background: rgb(255, 255, 255);
    border-style: none;
    border-radius: 8px;
    padding: 28px;
}

@media (max-width: 700px) {
    .form__fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}